[submodule "omni-mailspring"]
	path = omni-mailspring
	url = git@github.com:getomni/omni-mailspring.git
[submodule "konsole-omni"]
	path = konsole-omni
	url = git@github.com:getomni/konsole-omni.git
[submodule "gtk-omni"]
	path = gtk-omni
	url = git@github.com:getomni/gtk-omni.git
[submodule "vscode-omni"]
	path = vscode-omni
	url = git@github.com:getomni/vscode-omni.git
[submodule "insomnia-omni"]
	path = insomnia-omni
	url = git@github.com:getomni/insomnia-omni.git
[submodule "hyper-omni"]
	path = hyper-omni
	url = git@github.com:getomni/hyper-omni.git
[submodule "ulauncher-omni"]
	path = ulauncher-omni
	url = git@github.com:getomni/ulauncher-omni.git
[submodule "omni-slack"]
	path = omni-slack
	url = git@github.com:librity/omni-slack.git
[submodule "google-chrome-omni"]
	path = google-chrome-omni
	url = git@github.com:getomni/google-chrome-omni.git
[submodule "omni-duckduckgo"]
	path = omni-duckduckgo
	url = git@github.com:librity/omni-duckduckgo.git
[submodule "omni-alacritty"]
	path = omni-alacritty
	url = git@github.com:librity/omni-alacritty.git
[submodule "omni-figma"]
	path = omni-figma
	url = git@github.com:librity/omni-figma.git
[submodule "omni-firefox"]
	path = omni-firefox
	url = git@github.com:librity/omni-firefox.git
[submodule "omni-iterm2"]
	path = omni-iterm2
	url = git@github.com:librity/omni-iterm2.git
[submodule "omni-sketch"]
	path = omni-sketch
	url = git@github.com:librity/omni-sketch.git
[submodule "omni-macdown"]
	path = omni-macdown
	url = git@github.com:librity/omni-macdown.git
[submodule "omni-sublime"]
	path = omni-sublime
	url = git@github.com:librity/omni-sublime.git
[submodule "omni-termnial.app"]
	path = omni-termnial.app
	url = git@github.com:librity/omni-termnial.app.git
