// Omni
$omni-background: #191622;
$omni-current_line: #41414d;
$omni-selection: #41414d;
$omni-foreground: #e1e1e6;
$omni-comment: #5a4b81;
$omni-cyan: #78d1e1;
$omni-green: #67e480;
$omni-orange: #e89e64;
$omni-pink: #ff79c6;
$omni-purple: #988bc7;
$omni-red: #e96379;
$omni-yellow: #e7de79;
