// Omni
$omni-background: #191622;
$omni-current_line: #41414d;
$omni-selection: #41414d;
$omni-foreground: #e1e1e6;
$omni-comment: #5a4b81;

$omni-black: #000000;
$omni-white: #e1e1e6;
$omni-cyan: #78d1e1;
$omni-green: #67e480;
$omni-orange: #e89e64;
$omni-pink: #ff79c6;
$omni-purple: #988bc7;
$omni-red: #e96379;
$omni-yellow: #e7de79;

// Omni Bright
$omni-bright-black: #181616;
$omni-bright-white: #e7e7fd;
$omni-bright-cyan: #83e7f8;
$omni-bright-green: #6bfc88;
$omni-bright-orange: #f3ae7a;
$omni-bright-pink: #f897ce;
$omni-bright-purple: #baade9;
$omni-bright-red: #fd8095;
$omni-bright-yellow: #fff79a;

// Omni Dim
$omni-dim-black: #0f0d0d;
$omni-dim-white: #c6c6d1;
$omni-dim-cyan: #66bdcc;
$omni-dim-green: #5dc772;
$omni-dim-orange: #cf8e5c;
$omni-dim-pink: #da6aa9;
$omni-dim-purple: #8274b4;
$omni-dim-red: #d65a6e;
$omni-dim-yellow: #c4bc65;
